In [149]:
import pandas as pd
import numpy as np

Importing Dataset

In [238]:
df = pd.read_csv("weight-height.csv")

In [239]:
df.head(5)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

Encoding

In [240]:
from sklearn.preprocessing import LabelEncoder

In [241]:
encoder = LabelEncoder()

In [242]:
df["Gender"] = encoder.fit_transform(df["Gender"])

Separate X and Y

In [243]:
X = df.iloc[:,0:2]

In [244]:
X

      Gender     Height
0          1  73.847017
1          1  68.781904
2          1  74.110105
3          1  71.730978
4          1  69.881796
...      ...        ...
8550       0  60.483946
8551       0  63.423372
8552       0  65.584057
8553       0  67.429971
8554       0  60.921791

[8555 rows x 2 columns]

In [245]:
y = df.iloc[:,2:3]

In [246]:
y

          Weight
0     241.893563
1     162.310473
2     212.740856
3     220.042470
4     206.349801
...          ...
8550  110.565497
8551  129.921671
8552  155.942671
8553  151.678405
8554  131.253738

[8555 rows x 1 columns]

Split Data

In [247]:
from sklearn.model_selection import train_test_split

In [248]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [249]:
y_test

          Weight
2801  218.533016
3483  170.065480
5318  117.196784
268   161.028752
1408  199.469319
...          ...
2417  119.242856
6452  133.451353
3248  177.372815
1361  194.073975
2053  212.866099

[2567 rows x 1 columns]

Applying Linear Regression

In [250]:
from sklearn.linear_model import LinearRegression

In [251]:
lr = LinearRegression()

In [252]:
lr.fit(X_train,y_train)

LinearRegression()

In [253]:
y_predict = lr.predict(X_test)

In [254]:
y_predict

array([[224.84841272],
       [173.27671288],
       [120.11419437],
       ...,
       [181.49039188],
       [198.17111408],
       [213.97370352]])

In [255]:
from sklearn.metrics import mean_squared_error

In [256]:
accuracy_from_lr = mean_squared_error(y_test,y_predict)

In [257]:
accuracy_from_lr

103.3841614893805

Using KNN Regressor

In [258]:
from sklearn.neighbors import KNeighborsRegressor

In [259]:
knn = KNeighborsRegressor(n_neighbors = 10)

In [260]:
knn.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=10)

In [261]:
y_predict = knn.predict(X_test)

In [262]:
accuracy_from_knn = mean_squared_error(y_test,y_predict)

In [263]:
accuracy_from_knn

116.49351412798586

In [264]:
accuracy_from_knn > accuracy_from_lr

True

KNN Classifier

In [265]:
df = pd.read_csv("weight-height.csv")

In [266]:
df.head(5)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

Split Data

In [267]:
X = df.iloc[:,1:3]

In [268]:
X

         Height      Weight
0     73.847017  241.893563
1     68.781904  162.310473
2     74.110105  212.740856
3     71.730978  220.042470
4     69.881796  206.349801
...         ...         ...
8550  60.483946  110.565497
8551  63.423372  129.921671
8552  65.584057  155.942671
8553  67.429971  151.678405
8554  60.921791  131.253738

[8555 rows x 2 columns]

In [269]:
y = df.iloc[:,0:1]

In [270]:
y

      Gender
0       Male
1       Male
2       Male
3       Male
4       Male
...      ...
8550  Female
8551  Female
8552  Female
8553  Female
8554  Female

[8555 rows x 1 columns]

In [271]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [272]:
y_train

      Gender
6153  Female
3944    Male
2525    Male
5489  Female
7919  Female
...      ...
2462    Male
5822  Female
7218  Female
3349    Male
5300  Female

[5988 rows x 1 columns]

In [273]:
from sklearn.neighbors import KNeighborsClassifier

In [274]:
knn_class = KNeighborsClassifier(n_neighbors = 10)

In [275]:
knn_class.fit(X_train,y_train)

C:\Users\ANJAR\AppData\Roaming\Python\Python311\site-packages\sklearn\neighbors\_classification.py:233: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=10)

In [276]:
y_predict = knn_class.predict(X_test)

In [277]:
from sklearn.metrics import accuracy_score

In [278]:
accuracy_score = accuracy_score(y_test,y_predict)

In [279]:
accuracy_score

0.9088430074016361